<div class="page-header">

  <h1>My Learning Process <small>Lukasz Kaczmarek DiD 2year</small></h1>
</div>


<div class="row">
  <div class=" thumbnail-box col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="thumbnail-img">
        <img src="images/thumbnail/world.png" class="img-responsive" alt="...">
      </div>
      <div class="caption">
        <h3>Countries Statiscics</h3>
        <p>Sorting and filters example</p>
        <p><button class="btn btn-default link-button "><a ui-sref="countriesState" ui-sref-active="active" >Countries App</a></button></p>
      </div>
    </div>
  </div>
  <div class=" thumbnail-box col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="thumbnail-img">
        <img src="images/thumbnail/bilebowsky.jpg" class="img-responsive" alt="...">
      </div>
      <div class="caption">
        <h3>My Favorite Movie</h3>
        <p>Example hot to add remove from list</p>
        <p><button class="btn btn-default link-button "><a ui-sref="movieState" ui-sref-active="active" >My Favorite Movie App</a></button></p>
      </div>
    </div>
  </div>
  <div class=" thumbnail-box col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="thumbnail-img">
        <img src="images/thumbnail/pixabay.png" class="img-responsive" alt="...">
      </div>
      <div class="caption">
        <h3>PIXABAY</h3>
        <p>API integration $http examples </p>
        <p><button class="btn btn-default link-button "><a ui-sref="pixabayState" ui-sref-active="active" >Pixa Bay </a></button></p>
      </div>
    </div>
  </div>
  <div class=" thumbnail-box col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="thumbnail-img">
        <img src="images/thumbnail/google.places.jpg" class="img-responsive" alt="...">  
      </div>
      
      <div class="caption">
        <h3>Google Maps</h3>
        <p>Google Maps and Marker List / Angular</p>
        <p><button class="btn btn-default link-button "><a ui-sref="googlePlaces" ui-sref-active="active" >Google Maps </a></button></p>
      </div>
    </div>
  </div>
  <div class=" thumbnail-box col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="thumbnail-img">
          <img src="images/thumbnail/489px-Wikipedia-logo-en-big.jpg"  class="img-responsive" alt="...">  
        </div>
        
      <div class="caption">
        <h3>Wikipedia</h3>
        <p>Wikipedia Search Integration</p>
        <p><button class="btn btn-default link-button "><a ui-sref="wikipedia" ui-sref-active="active" >Wikipedia </a></button></p>
      </div>
    </div>
  </div>
  <div class=" thumbnail-box col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="thumbnail-img">
          <img src="images/thumbnail/maxresdefault.jpg"  class="img-responsive" alt="...">
        </div>
        <div class="caption">
          <h3>Factory</h3>
          <p>Testing Service vs Factory</p>
          <p><button class="btn btn-default link-button "><a ui-sref="factory" ui-sref-active="active" >Factory </a></button></p>
        </div>
      </div>
    </div>
    <div class=" thumbnail-box col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="thumbnail-img">
          <img src="images/thumbnail/loginScreen.png"  class="img-responsive" alt="...">
        </div>
        <div class="caption">
          <h3>Log In service</h3>
          <p>Testing Service vs Factory</p>
          <p><button class="btn btn-default link-button "><a ui-sref="login" ui-sref-active="active" >Log In </a></button></p>
        </div>
      </div>
    </div>
</div>



loginScreen.png
<!-- <button class="btn btn-default"><a ui-sref="movieState" ui-sref-active="active" >My Favorite Movie App</a></button> -->

